@each $display in $displays {
  .d-#{$display} {
    display: $display;
  }
}
@each $position in $positions {
  .pos-#{$position} {
    position: $position;
  }
}
@each $side in $sides {
  .#{$side}-0 {
    #{$side}: 0;
  }
  .#{$side}-auto {
    #{$side}: auto;
  }
}
@each $space in $spaces {
  $i: index($spaces, $space) - 1;
  $v: #{$space}px;

  .h-#{$i} {
    height: $v;
  }
  .min-h-#{$i} {
    min-height: $v;
  }
  .max-h-#{$i} {
    max-height: $v;
  }
  .w-#{$i} {
    width: $v;
  }
  .min-w-#{$i} {
    min-width: $v;
  }
  .max-w-#{$i} {
    max-width: $v;
  }
}
.h-full {
  height: 100%;
}
.h-fit {
  max-height: 100%;
}
.h-viewport {
  height: 100vh;
}
.min-h-viewport {
  min-height: 100vh;
}
.max-h-viewport {
  max-height: 100vh;
}
.w-full {
  width: 100%;
}
.w-fit {
  max-width: 100%;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-x-hidden {
  overflow: hidden;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.object-fit-cover {
  object-fit: cover;
}
.object-fit-contain {
  object-fit: contain;
}
.va-middle {
  vertical-align: middle;
}
