@each $size in $typography {
  $i: index($typography, $size) - 1;

  .f-#{$i} {
    font-size: #{$size}px;
  }
}
@each $weight in $weights {
  .fw-#{$weight} {
    font-weight: $weight;
  }
}
@each $name, $value in $line-heights {
  .lh-#{$name} {
    line-height: $value;
  }
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.t-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.t-capitalize {
  text-transform: capitalize;
}
.wb-break-word {
  word-break: break-word;
}
