$displays: block, inline-block, inline, flex, grid;
$spaces: 0, 4, 8, 16, 24, 32, 40, 48, 64, 80, 96, 112, 128, 196, 256, 384, 512, 768;
$typography: 32, 26, 22, 18, 16, 14, 12;
$weights: 300, 400, 500, 600, 700, 800;
$border-radius: 4, 8, 12;
$positions: absolute, relative, sticky, fixed;
$sides: 'all', 'top', 'right', 'bottom', 'left';

:root {
  --font: 'Manrope';
  --primary-color: #2e86de;
  --secondary-color: #8395a7;
  --accent-color: #f5f5f5;
  --border-color: 200, 214, 229; //#c8d6e5
  --bg-color: #fff;
  --text-color: #000;
  --verified-color: var(--primary-color);
  --tooltip-color: 0, 0, 0;
  --elevation-1: 10px 9px 21px 0px rgba(128, 152, 213, 0.12);
  --elevation-2: 0 3px 3px -2px rgba(0, 0, 0, 0.4);
  --transition-timing-function: ease-in-out;
  --transition-duration: 0.2s;
}
.is-normal {
  --accent-color: #f5f5f5;
  --border-color: 200, 214, 229; //#c8d6e5
  --bg-color: #fff;
  --text-color: #000;
}
.is-dim {
  --accent-color: #1a2834;
  --border-color: 56, 69, 77; //#38454d
  --bg-color: #15202b;
  --text-color: #fff;
  --verified-color: #fff;
  --tooltip-color: var(--border-color);
}
.is-dark {
  --accent-color: #15181c;
  --bg-color: #000;
  --border-color: 47, 52, 54; //#2f3436
  --text-color: #fff;
  --verified-color: #fff;
  --tooltip-color: var(--border-color);
}
