@import './_variables.scss';
@import './_helpers.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font);
  @extend .f-4;
  line-height: 1.5;
}
img {
  display: block;
}
button, input, video {
  outline: none;
  border: none;
}
a {
  color: var(--primary-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &[href^="https://t.co"] {
    display: none;
  }
}
.handle:before {
  content: '@';
}
.hover {
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  &:hover {
    background-color: #{'rgba(var(--border-color), 0.25)'};
  }
}
.tooltip {
  outline: none;
  &:not(.popover) {
    background-color: #{'rgba(var(--tooltip-color), 0.7)'};
    color: #fff;
    border-radius: 2px;
  }
  &[aria-hidden='true'] {
    opacity: 0;
    transition: opacity 0.2s;
  }
  &[aria-hidden='false'] {
    opacity: 1;
    transition: opacity 0.2s;
  }
}
.v-popover {
  display: block !important;
  .trigger {
    display: flex !important;
    flex: 1;
  }
}
.popover-menu {
  background-color: var(--bg-color);
  box-shadow: var(--elevation-1), var(--elevation-2);
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
}
