@import './_variables.scss';
@import './_helpers.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font);
  @extend .f-4;
  line-height: 1.5;
}
img {
  display: block;
}
button, input, video {
  outline: none;
  border: none;
}
a {
  color: var(--primary-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &[href^="https://t.co"] {
    display: none;
  }
}
.handle:before {
  content: '@';
}
.time:before {
  content: '· ';
}
.hover {
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
}
.popover {
  outline: none;
  &[aria-hidden='true'] {
    opacity: 0;
    transition: opacity .15s;
  }
  &[aria-hidden='false'] {
    opacity: 1;
    transition: opacity .15s;
  }
}
.v-popover {
  display: block !important;
  .trigger {
    display: flex !important;
    flex: 1;
  }
}
.popover-menu {
  background-color: var(--bg-color);
  box-shadow: var(--elevation-1), var(--elevation-2);
}
