@import './_variables.scss';
@import './_helpers.scss';

@font-face {
  font-family: $icon-font;
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url('./fonts/fa-solid-900.eot');
  src: url('./fonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
       url('./fonts/fa-solid-900.woff2') format('woff2'),
       url('./fonts/fa-solid-900.woff') format("woff"),
       url('./fonts/fa-solid-900.ttf') format("truetype"),
       url('./fonts/fa-solid-900.svg#fontawesome') format("svg");
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}
body {
  font-family: $base-font;
  font-size: $base-font-size;
}
i {
  font-style: normal;
}
button, input {
  outline: none;
  border: none;
  font-size: 1rem;
  @extend .fs-xs;
}
.handle:before {
  content: '@';
}
.time:before {
  content: '· ';
}
.fa-b:before {
  font-family: $icon-font;
}
.fa-rt:before {
  content: '\f079';
  @extend .p-r-3xs;
}
.fa-search:before {
  content: '\f002';
}
.hover {
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}
.sidebar {
  width: calc(var(--space-4xlg) * 0.9);
}
